<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1><%= link_to 'ðŸ•Foodz!', restaurants_path, class: 'text-danger font-weight-bold' %></h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "All restaurants", restaurants_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Create new", new_restaurant_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
